@tailwind base;
@tailwind components;
@tailwind utilities;

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

.font-Montserrat-header {
    font-family: 'Noto Serif', serif;
}

@layer components {
    .content-body{
        @apply overflow-x-auto;
    }
    .content-body h2 {
        @apply mt-5 mb-3 text-3xl;
    }

    .content-body h3 {
        @apply mt-5 mb-3 text-2xl;
    }

    .content-body h4 {
        @apply mt-5 mb-3 text-xl;
    }

    .content-body h5 {
        @apply mt-5 mb-3 text-lg;
    }

    .content-body h6 {
        @apply mt-5 mb-3 text-sm;
    }

    .content-body code {
        @apply text-purple-950 dark:text-purple-500;
    }

    .content-body pre {
        @apply p-3 w-32 w-full bg-purple-950 h-fit whitespace-pre-wrap;
    }
    .content-body pre code.language-bash:before {
        content: "[user@host ~]$";
        @apply text-green-500 mr-3;
    }
    .content-body pre code.language-rootbash:before {
        content: "[root@host ~]#";
        @apply text-red-500 mr-3;
    }

    .content-body pre code{
        @apply block text-green-600 dark:text-green-400;
    }

    .content-body .text-align-left {
        @apply text-left;
    }

    .content-body .text-align-center {
        @apply text-center;
    }

    .content-body .text-align-right {
        @apply text-right;
    }

    .content-body .text-align-justify {
        @apply text-justify;
    }

    .content-body ul {
        @apply list-disc ml-3;
    }

    .content-body ol {
        @apply list-decimal ml-3;
    }
    .content-body hr{
        @apply my-3;
    }
    .content-body blockquote{
        @apply border-l-4 border-gray-400 pl-3 dark:text-white text-lg font-bold my-3;
    }
    .content-body p{
        @apply my-6 leading-relaxed;
    }
    .category-balloon ul{
        @apply flex;
    }
    .category-balloon ul li{
        @apply p-2 rounded-2xl bg-gray-200 mx-0.5 dark:bg-gray-800 dark:text-gray-300;
    }
}
